
.sidebar {
  position: absolute;
  right: 50px;
  top: 100px;
  height: 800px;
  width: 420px;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 20px;
  overflow-y: auto;
}

.sidebar-header {
  font-size: 44px;
  margin: 0 0 20px 0;
}

.sidebar-alert {
  font-size: 22px;
  font-style: italic;
}