$biomeWidth: 800px;
$biomeSlotsWidth: $biomeWidth * .6;
$biomeSlotWidth: $biomeSlotsWidth / 4;

.gameMap {
  width: 100%;
}

.biomes {
  display: flex;
  width: $biomeWidth * 3;
  flex-wrap: wrap;
}

.biome {
  flex: 0 0 $biomeWidth;
  height: 400px;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
}

.biome-name {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 92px;
  color: rgba(255, 255, 255, .9);
}

.biome-slots {
  display: flex;
  width: $biomeSlotsWidth;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.biome-slot {
  flex: 0 0 $biomeSlotWidth;
  height: $biomeSlotWidth;
  border: 2px solid black;
  margin-right: 10px;
  background-color: #FFF;
  box-shadow: inset 0 4px 14px rgba(0, 0, 0, 0.12), inset 0 6px 6px rgba(0, 0, 0, 0.24);
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.biome-slot--selected {
  outline: 4px solid red;
}