$leftMargin: 30px;

* {
  font-family: Helvetica, sans-serif;
}

.header {
  font-family: Helvetica, sans-serif;
}

.screenplays {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
}

.screenplay {
  display: flex;
  flex: 1 0 auto;
  min-height: 80px;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 10px 20px;

  background-color: rgba(0, 0, 0, .01);

  &:nth-child(2n) {
    background-color: rgba(0, 0, 0, .06);
  }
}

.screenplay-row {
  display: flex;
  align-items: center;
  margin-top: 7px;

  &:first-child {
    margin-top: 0;
  }
}

.screenplay-row--stack {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.screenplay-name {
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  flex: 1 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.screenplay-genre {
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  //color: #;
}

.screenplay-viewActs {
  color: #7d7db3;
  text-decoration: underline;
  cursor: pointer;
}

.screenplay-status {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: $leftMargin;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.screenplay-status--available {
  background-color: limegreen;
}

.screenplay-status--hasBid {
  background-color: yellow;
}

.screenplay-button {
  //background-color: rgb(98, 0, 238);
  //color: rgb(255, 255, 255);
  align-items: center;
  background-color: rgb(240, 240, 235);
  border-radius: 4px;
  border: 0px none rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  cursor: default;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  letter-spacing: 1.25006px;
  margin-left: $leftMargin;
  width: 170px;
  padding: 0 16px;
  position: relative;
  text-align: center;

  &:hover {
    background-color: rgb(219, 219, 217);
  }

  &[disabled] {
    background-color: rgb(219, 219, 217);
    color: #888;
  }
}

.screenplay-hasLatestBid {
  font-size: 22px;
  margin-left: $leftMargin;
  font-family: Helvetica, sans-serif;
}

.screenplay-bid {

}

.screenplay-endBidding {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.modal-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.modal {
  width: 500px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.modal-close {
  position: absolute;
  font-weight: bold;
  right: 10px;
  top: 10px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}

.modal-header {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
}

.screenplay-acts {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.7em;
}

.screenplay-act {
  margin-top: 12px;

  &:first-child {
    margin-top: 8px;
  }
}

.screenplay-totalProductionTime,
.screenplay-totalCost {
  font-size: 22px;
  margin: 12px;

  &:first-child {
    margin-left: 0;
  }
}

/* ACTORS */

.actor-genre {
  margin-left: 10px;
  font-size: 20px;
  line-height: 2em;
  font-style: italic;

  &:first-child {
    margin-left: 0;
  }
}
